/***  
##########################
B-BODY.CSS - Version 1.00
########################## 
- Sets the styles for the main page body.
***/

#b-body {
  /* Always make sure that the page is tall enough to fill the window. */
  min-height: calc(100vh - (280px + 2rem));
}

#b-body.no-top-margin {
  /* Always make sure that the page is tall enough to fill the window, 
  even when there is no top margin. */
  min-height: calc(100vh - (280px));
}

/***  
##########################
B-FOOTER.CSS - Version 1.00
########################## 
- Sets the styles for the main page footer.
***/

#b-footer {
  margin-bottom: 0rem; /* Remove the margin at the end of the page. */
  padding-top: 1rem; /* Add Padding due to compensate the background color difference. */
  padding-bottom: 1rem; /* Add Padding to compensate the background color difference. */
  background-color: var(--color-accent);
  color: white;
}

/* # SECTION: BRAND LOGO AND SOCIAL MEDIA
/* This is the semantic section for social icons. */
#bf-bar-social {
  grid-row: 1;
  grid-column: 1;
  text-align: center;
}

/* This is the division containing social icons below the logo.*/
#bf-bar-social-media {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: baseline;
  gap: 1.5rem;
}

/* # SECTION: LEGAL INFORMATION
/* This is the semantic section for legal information. */
#bf-bar-legal {
  grid-row: 1;
  grid-column: 2;
  text-align: center;
}

/* This is the paragraph for copyright information. */
#bf-bar-legal-copyright,
#bf-bar-legal-cookie {
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

#bf-bar-legal-cookie a {
  color: white;
  text-decoration: underline;
  font-weight: 700;
}

/* ############# */
/* MEDIA QUERIES */
@media (max-width: 720px) {
  #bf-bar {
    grid-template-columns: 1fr;
  }

  #bf-bar-legal {
    grid-row: 2;
    grid-column: 1;
    text-align: center;
  }

  #bf-bar-legal-copyright,
  #bf-bar-legal-cookie {
    margin: 0rem auto; /* Adjust the space between elements. */
    max-width: calc(var(--text-max-width) / 2);
  }
}

/***  
##########################
B-HEADER.CSS - Version 1.00
########################## 
- Sets the styles for the main page header.
***/

#b-header {
  margin-top: 1rem;
  margin-bottom: 0rem;
  border-bottom: 4px solid black;
}

/* # SECTION: BRAND LOGO AND NAVIGATION */
/* This the main row in the header. */
#bh-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

/* ## SECTION: BRAND LOGO */
#bh-bar-brand {
  padding-top: 0.25rem;
  position: relative;
}

/* ## SECTION: HAMBURGER MENU ICON */
#bh-bar-nav {
  text-align: end;
}

/* ## NAV: SINGLE NAVIGATION ITEM */
.bh-bar-nav-item {
  font-size: 1.125rem;
  font-weight: 400;
  list-style: none;
}

#bh-bar-nav-current {
  font-weight: 700;
}

/* # SECTION: EXPANDED NAVIGATION MENU */
/* This is the semantic navigation menu. */
#bh-navigation {
  position: absolute;
  width: 100%;
  margin: 0rem;
  padding-top: 1rem;
  left: -100vw;
  z-index: 10;
  opacity: 0;
  background-color: var(--color-accent);
  color: var(--color-theme);
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  transition: opacity 0.25s ease-out, transform 0.25s step-end;
}

/* Animation Effect */
#bh-navigation.visible {
  opacity: 1;
  transform: translateX(calc(100vw));
  transition: opacity 0.25s ease-in, transform 0.25s step-start;
}

#bh-navigation .grid {
  gap: 2rem;
}

/* Most likely the left-side of the menu. */
#bh-navigation-alpha {
  grid-column: 1;
  text-align: left;
}

/* Most likely the right-side of the menu. */
#bh-navigation-beta {
  grid-column: 2;
  text-align: right;
}

/* Below are the text stylying for the menu. */
#bh-navigation .menu > li,
#bh-navigation .menu ul {
  margin-bottom: 1rem;
}

#bh-navigation .menu-item-parent {
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 0.25rem solid var(--color-theme);
}

#bh-navigation .menu-item-parent > a:hover {
  text-decoration: none;
  opacity: 0.85;
}

#bh-navigation .menu p,
#bh-navigation .menu .paragraph {
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--color-theme);
  margin-bottom: 0.5rem;
  opacity: 0.85;
}

#bh-navigation .menu-submenu li {
  font-size: 1.125rem;
  font-weight: 400;
}

#bh-navigation ul {
  list-style: none;
}

#bh-navigation ul ul {
  padding-left: 0rem;
}

#bh-navigation ol {
  list-style: none;
}

#bh-navigation ol ol {
  padding-left: 0rem;
}

/* ########################## */
/* WORK IN PROGRESS */
